body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: beige;
margin: 0;
height: 100vh;

}
*{
    box-sizing: border-box;
}
h1 {
 color: aquass;   
}
.home{
    background-image: url("../images/57.jpg") ;
    background-size:cover;

    background-blend-mode: hard-light;
    color:rgb(14, 155, 155);

    padding-top: 200px;
    padding-bottom: 200px;
}

footer{
    background-color: black;
    padding: 10px;
    text-align: center;
    color: blue;
    
}




.banner{
    background-color: chocolate;
    paddding 20 px;
    text-align: center;
}
.row::after{
content: " ";
display: block;
clear: both;
}



