body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1 {
 color: aquass;   
}
.home{
    background-image: url("../images/3457.jpg");
    background-size:auto;
    color:aqua;

    padding-top: 200px;
    padding-bottom: 200px;
}