body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: beige;
margin: 0;
height: 100vh;

}
*{
    box-sizing: border-box;
}
h1 {
 color: aquass;   
}
.home{
    background-image: url("../images/57.jpg") ;
    background-size:cover;

    background-blend-mode: hard-light;
    color:rgb(14, 155, 155);

    padding-top: 200px;
    padding-bottom: 200px;
}

footer{
    background-color: black;
    padding: 10px;
    text-align: center;
    color: blue;
    
}
.form input{
    width: 200px;
    height: 20px;
    margin: 10px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    border-color: black;
    padding-bottom: 10px;
    outline: none;


   
}
.form select{
    width: 140px;
    height: 20px;
    margin: 10px ;
    outline: none;
}
.form button{
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    
}
.form button:hover{
    background-color: rgb(15, 71, 53);
    color: white;
}
.form ::placeholder{
    text-align: center;
    color: black;
}
.nav{
    margin:10px;
    display:flex;
    justify-content: end;
    align-items: end;
    
}
a{
    text-decoration: none;
    border:none;
    border-radius: 5px;
    color: black;
    margin: 10px;

}
a:hover{
    color: rgb(19, 69, 52);
    transform: scale(1.2);

    
}
.nav-right{
    float:inherit;
    transform: scale(1.0);
}
.banner{
    background-color: chocolate;
    paddding 20 px;
    text-align: center;
}
.row::after{
content: " ";
display: block;
clear: both;
}

.content{
    float: left;
    width: 69%;
    padding: 15px;
}
.sidebar{
    float: left;
    width: 31%;
    padding: 15px;
}
@media screen and (max-width:500px){
    .content, .sidebar, img{
        width:100%;
    }
}
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
