body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1 {
 color: aquass;   
}
.home{
    background-image: url("../images/3457.jpg");
    background-size:cover;

    background-blend-mode: hard-light;
    color:rgb(14, 155, 155);

    padding-top: 200px;
    padding-bottom: 200px;
}